/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header and Footer */
header, footer {
  background-color: #014d01;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Navigation Menu */
nav {
  background-color: #014d01;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Main Content Area */
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.content {
  flex-basis: 30%;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
}

/* Footer Images */
.footer-image {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
}
