body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #014d01;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: "Bookman Old Style", serif;
  font-size: 32px;
}

nav {
  background-color: #014d01;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;

aside {
  flex: 1 1 30%; 
  background-color: #e0e0e0; 
  color: #fff; 
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px; 
}
