body {
  margin: 0;
  font-family: "Bookman Old Style", serif;
  background-image: url('forest.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  background-color: #014d01;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: "Bookman Old Style", serif;
  font-size: 32px;
}
nav {
  background-color: #014d01;
  padding: 10px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav li {
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  font-family: "Bookman Old Style", serif;
}
nav a:hover {
  color: #ddd;
}
.row {
  display: flex;
  align-items: center;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
}
main {
  background-color: #014d01;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

section {
  flex: 2 1 60%;
  background-color: #014d01;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-family: "Bookman Old Style";
}
  
.column {
  float: center;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
  
}
footer {
  background-color: #014d01;
  color: white;
  text-align: center;
  padding: 10px;
}
footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  transition: transform 0.3s ease;
}
footer img:hover {
  transform: scale(1.1);
}
